{% extends "base.html" %}
{% block content %}
<div class="content-section p-4" style="background-color: #111; border: 1px solid #d8e377; border-radius: 5px;">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4 text-warning">{{ legend }}</legend>

            {% if form.title %}
                <div class="mb-3">{{ form.title.label(class="text-white") }} {{ form.title(class="form-control") }}</div>
                <div class="mb-3">{{ form.image_url.label(class="text-white") }} {{ form.image_url(class="form-control") }}</div>
                <div class="mb-3">{{ form.content.label(class="text-white") }} {{ form.content(class="form-control", rows="5") }}</div>
            {% endif %}

            {% if form.name %}
                 <div class="mb-3">{{ form.name.label(class="text-white") }} {{ form.name(class="form-control") }}</div>
                 <div class="mb-3">{{ form.position.label(class="text-white") }} {{ form.position(class="form-control") }}</div>
                 <div class="row mb-3">
                    <div class="col">{{ form.age.label(class="text-white") }} {{ form.age(class="form-control") }}</div>
                    <div class="col">{{ form.height.label(class="text-white") }} {{ form.height(class="form-control") }}</div>
                    <div class="col">{{ form.weight.label(class="text-white") }} {{ form.weight(class="form-control") }}</div>
                 </div>
                 <div class="mb-3">{{ form.image_url.label(class="text-white") }} {{ form.image_url(class="form-control") }}</div>
            {% endif %}
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-warning w-100") }}
        </div>
    </form>
</div>
{% endblock content %}